.advantages {
  font-size: 18px;
  color: white;
  text-transform: uppercase;
}
.advantages__description {
  font-size: 14px;
}
.advantages__image {
  background-image: url("../sedona-mobile/backgrounds/photo-city@1x.png");
}
