.advantages-list {
  text-align: center;

}
.advantages__title {
  background-color: hsl(203, 39, 82);
}
.advantages__header {
  font-size: 18px;
  line-height: 26px;
}
.advantages__description {
  font-size: 14px;
  line-height: 21px;
}
.advantages__image {
  background-image: url("../sedona-mobile/backgrounds/photo-city@1x.png");
}
