.page-header__navigation {
  font-family: "PT Sans", sans-serif;
}

.navigation {
  text-align: center;
}

.page-header__logo {
  background-image: url("../sedona-mobile/backgrounds/logotyle-mobile.png");
}
