.page-description {
  text-align: center;
}
.page-description__title {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 26px;
}
.page-description__subtitle {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 26px;
}
.page-description__logo {
  background-image: url("../sedona-mobile/backgrounds/back-mobile.png");
}
