.page-header__navigation {

  font-family: "PT Sans", sans-serif;

}
.navigation {
  text-align: center;

}
.navigation__menu-item {
  color: white;
  text-transform: uppercase;
}

.page-header__logo {
  background-image: url("../sedona-mobile/backgrounds/logotyle-mobile.png");
}
