.page-footer {
  text-align: center;
}
.page-footer__hashtag {
  font-size: 21px;
  line-height: 26px;
}
.social-list__item {
  background-color: hsl(203, 39, 82);
}
.page-footer__developed {
  font-size: 14px;
  line-height: 26px;
}
